<div class="h-[80px] flex justify-center bg-black">
  <div class="container h-full">
    <ul class="flex justify-around items-center h-full text-teal-100">
      <li class="min-w-20"><a routerLink="/home" routerLinkActive="text-orange-300"
          class="w-full text-lg text-center transition-all duration-300 hover:text-blue-300 hover:tracking-wider cursor-pointer">Home</a></li>
      <li class="min-w-20"><a routerLink="/to-do" routerLinkActive="text-orange-300"
          class="w-full text-lg text-center transition-all duration-300 hover:text-blue-300 hover:tracking-wider cursor-pointer">Task</a></li>
      <li class="min-w-20"><a routerLink="/home" routerLinkActive="text-orange-300"
          class="w-full text-lg text-center transition-all duration-300 hover:text-blue-300 hover:tracking-wider cursor-pointer">Home</a></li>
      <li class="min-w-20"><a routerLink="/home" routerLinkActive="text-orange-300"
          class="w-full text-lg text-center transition-all duration-300 hover:text-blue-300 hover:tracking-wider cursor-pointer">Home</a></li>
    </ul>
  </div>
</div>
