<div class="h-[80px] flex justify-center bg-black">
  <div class="container h-full">
    <ul class="flex items-center h-full text-teal-100">
      <li class="flex justify-center flex-grow"><a routerLink="/home"
          class="text-lg transition-all duration-300 hover:text-blue-300 hover:tracking-wider cursor-pointer">Home</a></li>
      <li class="flex justify-center flex-grow"><a routerLink="/home"
          class="text-lg transition-all duration-300 hover:text-blue-300 hover:tracking-wider cursor-pointer">Home</a></li>
      <li class="flex justify-center flex-grow"><a routerLink="/home"
          class="text-lg transition-all duration-300 hover:text-blue-300 hover:tracking-wider cursor-pointer">Home</a></li>
      <li class="flex justify-center flex-grow"><a routerLink="/home"
          class="text-lg transition-all duration-300 hover:text-blue-300 hover:tracking-wider cursor-pointer">Home</a></li>
    </ul>
  </div>
</div>
